.App {
  text-align: center;
  background-color: #F9D148;
  height: 100vh;
  overflow: scroll;
}
header{
  color: #E93224;
  height: fit-content;
  max-height: 300px;
  transition: max-height 0.5s;
  overflow: hidden;
}
footer{
  width: 100vw;
  background-color: grey;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-box{
  position: absolute;
  background: rgba(233, 92, 36, 0.822);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  bottom: 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: grey solid 0;
  border-radius: 10px;
  transition: 0.5s;
}
.contact-box b{
  margin-top: 4px;
}
.store-num{
  font-size: 13px;
  color: black;
  margin-left: 8px;
  margin-bottom: 4px;
}
.contact-box a:hover{
  color: white;
}
.store-name{
  text-decoration: none;
  font-size: 13px;
  color: #F9D148;
  margin-left: 8px;
  margin-bottom: 4px;
}
footer div{
  margin: 10px;
}
.footer-btn{
  width: 100px;
  background-color: #FBE18D;
  border-radius: 8px;
  height: 30px;
  font-size: 14px;
}
.footer-btn:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.app-header{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 24px;
}
.header-logo{
  height: 40px;
  width: 40px;
  background: url('./shell_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
input:hover{
  background-color: #FBE18D;
}
.home-content{
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-content h5{
  font-size: 20px;
  width: 80vw;
}
.home-content form{
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-around;
  align-items: center;
}
.home-content form input{
  height: 30px;
  width: 160px;
  font-size: 16px;
}
.home-content form button{
  width: 100px;
  background-color: #FBE18D;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
}
.home-content form button:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.banner{
  color: #E93224;
  background-color: #FBE18D;
}
.records-content{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.record-table-box{
  max-height: 0px;
  transition: max-height 0.5s;
  overflow: scroll;
}
.record-table{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: scroll;
}
.record-table-head{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: #FBE18D;
}
.record-table-head-single{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 52px;
  padding: 5px;
  color: #CF422B;
  font-weight: 900;
}
.record-single{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  min-height: 47.5px;
  /* border-bottom: rgb(231, 188, 182) solid 2px; */
  display: flex;
  align-items: center;
  background-color: white;
}
.record-single-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgb(231, 188, 182) solid 2px;
  width: 80px;
  padding: 5px;
  height: 50px;
}
.back-btn{
  width: 100px;
  background-color: #FBE18D;
  border-radius: 8px;
  height: 40px;
  font-size: 16px;
}
.back-btn:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.login-form{
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 240px;
}
.login-input{
  width: 150px;
  height: 24px;
  font-size: 16px;
  text-align: center;
}
.login-btn{
  width: 100px;
  background-color: #FBE18D;
  border-radius: 8px;
  height: 30px;
  font-size: 12px;
}
.login-btn:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.create-page button{
  width: 100px;
  background-color: #FBE18D;
  height: 30px;
  font-size: 12px;
  border-radius: 8px;
}
.create-page button:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.create-page{
  margin-bottom: 240px;
}
.create-form{
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  align-items: center;
}
.create-form input{
  width: 150px;
  height: 24px;
  font-size: 16px;
  border-radius: 5px;
}
.create-form select{
  width: 156px;
  height: 24px;
  font-size: 16px;
}
.admin-page{
  margin-bottom: 60px;
}
.admin-page-btn{
  width: 100px;
  background-color: #FBE18D;
  height: 30px;
  font-size: 12px;
  margin: 10px;
  border-radius: 8px;
}
.admin-page-btn:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.create-record-group{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 98vw;
  min-width: 660px;
  min-height: 47.5px;
  border-bottom: rgb(231, 188, 182) solid 2px;
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: -20px;
}
.create-record-input{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  border-radius: 0%;
  border: none;
  box-sizing: border-box;
  border-left: rgb(231, 188, 182) solid 0.5px;
  border-right: rgb(231, 188, 182) solid 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  min-width: 94.3px;
  min-height: 47.5px;
  background-color: white;
  text-align: center;
  text-align-last: center;
  font-size: 12px;
}
.create-record-input option{
  text-align: left;
}
#add-btn{
  width: 40px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background: url('./add.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#add-btn:hover{
  border: rgb(231, 188, 182) solid 4px;
}
#delete-btn{
  width: 40px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background: url('./minus.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#delete-btn:hover{
  border: rgb(231, 188, 182) solid 4px;
}
.admin-box{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-record-btn-group{
  height: 80px;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.record-table-admin{
  display: flex;
  flex-direction: column;
  width: 98vw;
  min-width: 660px;
  margin-bottom: 20px;
  overflow: scroll;
}
.record-table-head-admin{
  display: flex;
  width: 98vw;
  min-width: 660px;
  height: 50px;
  background-color: #FBE18D;
}
.record-table-head-single-admin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vw;
  min-width: 94.3px;
  color: #CF422B;
  font-weight: 900;
}
.record-single-admin{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 98vw;
  min-width: 660px;
  min-height: 47.5px;
  border-bottom: rgb(231, 188, 182) solid 2px;
  display: flex;
  align-items: center;
  background-color: white;
}
.record-single-detail-admin{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 14vw;
  min-width: 94.3px;
}
.admin-edit-btn{
  height: 20px;
  width: 20px;
  background: url('./edit.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}
.admin-edit-btn:hover{
  background-color: rgb(231, 188, 182);
}
.admin-delete-btn{
  height: 20px;
  width: 20px;
  background: url('./delete.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.admin-delete-btn:hover{
  background-color: rgb(231, 188, 182);
}
.record-single-detail-admin-edit{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  border-radius: 0%;
  border: none;
  box-sizing: border-box;
  border-left: rgb(231, 188, 182) solid 0.5px;
  border-right: rgb(231, 188, 182) solid 0.5px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 14vw;
  min-width: 94.3px;
  min-height: 47.5px;
  background-color: white;
  text-align: center;
  text-align-last: center;
  font-size: 14px;
  font-style: italic;
}
.form-btn{
  width: 80px;
  background-color: #FBE18D;
  height: 30px;
  font-size: 12px;
  border-radius: 8px;
}
.form-btn:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.admin-select{
  width: 150px;
  height: 30px;
  margin: 10px;
  font-size: 14px;
}
.search-form input{
  height: 30px;
  width: 130px;
  font-size: 14px;
  margin: 10px;
}
.search-form button{
  margin: 10px;
  height: 36px;
}
.manager_table{
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-width: 660px;
  margin-bottom: 20px;
  overflow: scroll;
}
.manager_table_head{
  display: flex;
  width: 60vw;
  min-width: 660px;
  height: 50px;
  background-color: #FBE18D;
}
.manager_table_head_single{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  min-width: 220px;
  color: #CF422B;
  font-weight: 900;
}
.manager_table_single{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 60vw;
  min-width: 660px;
  min-height: 47.5px;
  border-bottom: rgb(231, 188, 182) solid 2px;
  display: flex;
  align-items: center;
  background-color: white;
}
.manager_table_single_detail{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20vw;
  min-width: 220px;
}
.create-name-group{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 60vw;
  min-width: 660px;
  min-height: 47.5px;
  border-bottom: rgb(231, 188, 182) solid 2px;
  display: flex;
  align-items: center;
  background-color: white;
}
.create-name-input{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  border-radius: 0%;
  border: none;
  box-sizing: border-box;
  border-right: rgb(231, 188, 182) solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  min-width: 220px;
  min-height: 47.5px;
  background-color: white;
  text-align: center;
  text-align-last: center;
  font-size: 12px;
}
.manager_table_head_spacer{
  width: 10vw;
  min-width: 110px;
}
.manager_table_single_spacer{
  width: 10vw;
  min-width: 110px;
}
.create-name-input-spacer{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  border-radius: 0%;
  border: none;
  box-sizing: border-box;
  width: 10vw;
  min-width: 110px;
  min-height: 47.5px;
  background-color: white;
}
#new-gift-input{
  border-right: none;
}
.export-browse-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.export-browse-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.browse-table{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  min-width: 490px;
  margin-bottom: 20px;
  overflow: scroll;
}
.browse-table-head{
  display: flex;
  width: 98vw;
  min-width: 490px;
  height: 50px;
  background-color: #FBE18D;
}
.browse-table-head-single{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vw;
  min-width: 70px;
  color: #CF422B;
  font-weight: 900;
}
.browse-single{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 98vw;
  min-width: 490px;
  min-height: 47.5px;
  border-bottom: rgb(231, 188, 182) solid 2px;
  display: flex;
  align-items: center;
  background-color: white;
}
.browse-single-detail{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 14vw;
  min-width: 70px;
}
.browse-form{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.browse-input{
  height: 30px;
  width: 150px;
  margin-bottom: 10px;
  font-size: 14px;
}
.browse-input-select{
  height: 30px;
  width: 150px;
  font-size: 14px;
  margin: 10px;
}
.user-info-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  transition: max-height 0.5s;
  width: 100vw;
  margin-bottom: 20px;
  overflow: scroll;
}
.user-info-head{
  display: flex;
  width: 90vw;
  height: fit-content;
  min-height: 30px;
  background-color: #FBE18D;
}
.user-info-head-single{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  color: #CF422B;
  font-weight: 900;
}
.user-info-detail{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 90vw;
  min-height: 40px;
  border-bottom: rgb(231, 188, 182) solid 2px;
  display: flex;
  align-items: center;
  background-color: white;
}
.user-info-detail-single{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45vw;
}
.record-page-text{
  margin-left: 20px;
  margin-right: 20px;
}