.App {
  text-align: center;
}
.records-content{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.record-table{
  display: flex;
  flex-direction: column;
  width: 80vw;
  border-top: black solid 2px;
  border-left: black solid 2px;
  margin-bottom: 20px;
}
.record-table-head{
  display: flex;
  width: 80vw;
  height: 50px;
}
.record-table-head-single{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  border-right: black solid 2px;
  border-bottom: black solid 2px;
}
.record-single{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 80vw;
  border-bottom: black solid 2px;
}
.record-single-detail{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20vw;
  border-right: black solid 2px;
}
