.App {
  text-align: center;
  background-color: #F9D148;
  height: 100vh;
  overflow: scroll;
}
header{
  color: #E93224;
}
footer{
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer a{
  text-decoration: none;
  color: #E93224;
}
footer a:hover{
  color: white;
}
footer button{
  width: 100px;
  background-color: #FBE18D;
  height: 20px;
  font-size: 10px;
}
footer button:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
footer b{
  color: #E93224;
}
.app-header{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
}
.header-logo{
  height: 40px;
  width: 40px;
  background: url('./shell_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
input:hover{
  background-color: #FBE18D;
}
.home-content{
  margin-bottom: 240px;
}
.home-content form{
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
.home-content form input{
  width: 160px;
}
.home-content form button{
  width: 100px;
  background-color: #FBE18D;
  height: 30px;
  font-size: 16px;
}
.home-content form button:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.banner{
  color: #E93224;
  background-color: #FBE18D;
}
.records-content{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 240px;
}
.record-table{
  display: flex;
  flex-direction: column;
  width: 96vw;
  min-width: 360px;
  margin-bottom: 20px;
  overflow: scroll;
}
.record-table-head{
  display: flex;
  width: 96vw;
  min-width: 360px;
  height: 50px;
}
.record-table-head-single{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16vw;
  min-width: 60px;
  background-color: #FBE18D;
  color: #CF422B;
  font-weight: 900;
}
.record-single{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 96vw;
  min-width: 360px;
  border-bottom: rgb(231, 188, 182) solid 2px;
  background-color: white;
  display: flex;
  align-items: center;
}
.record-single-detail{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 16vw;
  min-width: 60px;
}
.back-btn{
  width: 100px;
  background-color: #FBE18D;
  height: 30px;
  font-size: 16px;
}
.back-btn:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.login-form{
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
.login-input{
  width: 150px;
  text-align: center;
}
.create-page button{
  width: 100px;
  background-color: #FBE18D;
  height: 20px;
  font-size: 12px;
}
.create-page button:hover{
  background-color: #E93224;
  color: white;
  cursor: pointer;
}
.create-page{
  margin-bottom: 240px;
}
.create-form{
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  align-items: center;
}
.create-form input{
  width: 150px;
}
.create-form select{
  width: 150px;
}